header {
    background-color: #17072b;
    font-family: Tahoma;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-decoration: underline;
    font-size: 700;
    padding: 15px;
}

a {
    color: #ffffff;
    display: inline-block;
    padding: 2px;
    padding-bottom: 15px;
    font-size: 400;
    text-decoration: none;
}



footer {
    margin-top: 145px;
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 1px 0px 1px 0px;
}