header {
    background-color: #17072b;
    margin: 0;
    padding: 5px;
    font-size: x-large;
    color: #ffffff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}