/*styling the header*/
header {
    background-color: #17072b;
    font-family: Tahoma;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*styling the h1 tag*/
h1 {
    color: #ffffff;
    text-decoration: underline;
    font-size: 700;
    padding: 15px;
}

/*styling the links*/
a {
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    padding-bottom: 15px;
    font-size: 400;
    text-decoration: none;
}

/*styling the footer*/
footer {
    margin-top: 300px;
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 1px 0px 1px 0px;
}

/*styling the h2 tag*/
h2 {
    font-family: Tahoma;
    font-size: 700;
    text-decoration: underline;
    color: #000000;
    padding: 10px;
}

/*styling the article tag*/
article {
    font-size: 400;
    color: #000000;
    padding: 10px;
    font-family: arial;
}

/*adjusting the images*/
img {
    padding: 10px;
}

/*making sure the content is placed on the left side*/
aside {
    width: 30%;
    margin-left: 15px;
    padding-left: 15px;
    float: right;
    background-color: #172d67;
    color: #ffffff;
    margin-top: 20px;
    padding-bottom: 37px;
}

/*class to differentiate between 2 h2 tags*/
.lineup {
    font-family: Tahoma;
    font-size: 700;
    text-decoration: underline;
    color: #ffffff;
    padding: 10px;
}

/*styling the unordered list tag*/
ul {
    list-style: "- ";
    font-family: Arial;
    font-size: 400;
    padding: 10px;
}