/* for the body tag */
body {
    background-color: #5b8291;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* for the horizontal line tag */
.horrizzzline {
    background-color: #2e424d;
    width: auto;
    padding: 7px;
}

/* for the h1 tag */
h1 {
    text-align: center;
    font-weight: bolder;
    color: #eaebed
}

/* for the the h3 and paragraph class 'hteaml' tags */
.hteaml,
h3 {
    color: #eaebed;
    text-align: left;
    padding-left: 17px;
    padding-right: 35px;
    border-bottom: 100px;
}

/* for the table class tag */
.firstone {
    table-layout: auto;
    padding-bottom: 20px;
    border-style: solid;
    border-radius: 15px;
    border-color: #2e424d;
}

/* for the table head tags */
th {
    background-color: #2e424d;
    color: #eaebed;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    padding: 15px 15px 25px 20px;
}

/* for the table rows & data tags */
tr,
td {
    table-layout: auto;
    padding: 15px 15px 30px 20px;
}

/* for the even rows of the table */
tr:nth-child(even) {
    background-color: #eaebed;
}

/* for the odd rows of the table */
tr:nth-child(odd) {
    background-color: #98dad9;
}