/*styling all the div tags*/
div {
    display: inline-block;
    font-family: sans-serif;
    font-size: 30px;
    margin: 25px;
    border: 7px solid black;
    line-height: 100px;
    text-align: center;
    width: 200px;
    height: 200px;
}

/*styling the body tag, margin and width*/
body {
    margin: 100px auto;
    width: max-content;
}

/*styling the fisrt div*/
div#A {
    border-color: yellow;
    box-shadow: 5px 5px 5px black;

}

/*styling the second div*/
div#B {
    border-color: lightseagreen;
    box-shadow: 5px 5px 5px black inset;
}

/*styling the third div*/
div#C {
    border-color: red;
    text-shadow: 7px 5px darkslategrey;

}

/*styling the fourth div*/

div#D {
    border-color: green;
    text-shadow: 5px 5px 5px;
    box-shadow: 5px 5px 3px 7px;
}