body {
    background-color: #101823;
    font-family: sans-serif;
}

.nav {
    background-color: #00FCCE;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #101823;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #FF4654;
}

.nav h1 {
    color: #101823;
    font-weight: bold;
    padding: 5px 7px;
    text-align: justify;
}

.button {
    float: right;
    background: solid;
    background-color: #101823;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px solid;
    font-weight: 400;
    margin: auto;
    text-align: center;
    padding: 15px 30px;
}