body {
    background-color: #FF4654;
    font-family: sans-serif;
}

.nav {
    background-color: #101823;
    overflow: hidden;
}

.nav a {
    float: left;
    padding: 15px 17px;
    color: #ECE8E1;
    text-align: center;
}

.nav h1 {
    color: #ECE8E1;
    font-weight: bold;
    padding-left: 40px;
    text-align: center;
}

.button {
    float: right;
    background: solid;
    background-color: #FF4654;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid;
    font-weight: 400;
    margin: auto;
    text-align: center;
}